@charset "utf-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body {
    font-family:NanumSquare,sans-serif;
    font-size:14px;
}

.page-header {
    background-color:#f5f5f5;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.inner-box{
    display: flex; 
    align-items:center;
    justify-content:space-between;
    outline :red 1px solid; 
    max-width:1600px;
    width:100% ;
    padding:0 30px;
    margin : 0 auto;
    height: 80px;      
}

.gnb > ul{
    display:flex;
    column-gap: 20px;
}

.gnb .sub-menu {
    display:none;
}

.site_map {
    position:relative;
    width:24px;
    height:23px;
    cursor: pointer;
    background-color:none;
    border:none;   
}

.site_map:hover .a {
    background-color: green;
    top:50%;
    transform: rotate(45deg); 
    transition:400ms;   
}

.site_map:hover .b {
    background-color: green;
    opacity: 0;   
    transition:400ms;   
}

.site_map:hover .c {
    background-color: green;
    top:50%;
    transform: rotate(-45deg);
    transition:400ms;   
}

.a {
    position:absolute;
    width:24px;
    height:2px;
    background-color: black;  
    display:inline-block;
    top:4px;    
}

.b {
    position:absolute;
    width:24px;
    height:2px;
    background-color: black;  
    display:inline-block;
    top: 10px;   
}

.c {
    position: absolute;
    width:24px;
    height:2px;
    background-color: black;  
    display:inline-block;
    bottom: 5px;
}

.visual_slide li {
    height:70vh;
    min-height:400px;
    background-color:tomato;
    background-image:url('../images/visual_1.jpg');
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    color:#fff;
    display:flex;
    align-items:center;
}

.visual_slide  article { 
    width:100%;
    max-width:1200px;
    margin:0 auto;
    transform:translateY(50px);
}

.visual_slide h2 {
    font-size:30px;
    font-weight: 700;
    letter-spacing:-0.7px;
}

.visual_slide .bar {
    height:1px;
    background-color:rgba(255,255,255,0.2);
    margin:20px 0;
}

.visual_slide .bar .active {
    background-color:#fff;
    height:1px;
    width:20%;
}

.visual_slide p {
    
}

.total {
    width:1163px;
    /* height:1700px; */
    height:100%;
    /* outline:2px solid red; */
    margin: 0 auto;
    
}

.content {
    display:flex;
    align-items: center;
    justify-content:space-between;
    /* outline: 2px solid blue; */
    max-width : 1163px;
    width:100%;
    height: 200px;
    margin-top:69px;
    column-gap: 5px;
    position:relative;
    
}

.content li {

    width:210px;
    height:179px;
    /* outline: 2px solid olive; */
    /* text-overflow: ellipsis; */
}

.content h2 {
    font-size: 14px;
    font-weight: 800;
    text-align: start;
    color: #212121;
    margin-bottom: 20px;
}

.content a:hover {
    text-decoration: underline;
    
}
.content a {
    font-weight: 800;
}

.content_title{
    text-align: start;
    margin: 31px 0 30px;
    font-size: 15px;
    font-weight: 800;
    color:#333333;
    height:76px;  
}

.news_middle{    
    position: absolute;
    top: 85px;
    color:#878890;    
}

.main_content {
    display:flex;
    flex-wrap:wrap;
    max-width:100%;
    height: 777px;
    /* align-items:center; */
    /* margin : 0 auto; */
    color:white;
    text-align: center;
    margin-top: 90px;
    position:relative;    
}

.main_content h3 {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 5px;
    /* display: none; */
    margin-top: 180px;
}

.main_content p {
    /* display: none; */
    font-size: 15px;
    font-weight: 600;
}

.dimmed {
    width:calc(100% / 3);
    height: 259px;
    background-color: #3A3E5080;
    background-size: cover;
    position: absolute;
    opacity: 0;        
}

.main_content :hover{
    opacity: 100;
    transition:500ms;
}


.robot {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/robot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cloud {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/cloud.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.pay {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/pay.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.whale {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/whale.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.works {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/works.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.note {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/note.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.webtoon {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/webtoon.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.project {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/project.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.live {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/live.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.main-support {
    margin-top:112px;  
}
.main-support h2 {
    font-size:30px;
    font-weight: 800;
    text-align: center;
    margin-top:120px;   
    padding: 10px;
}

.main-support p {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.5px;   
    /* margin-bottom:134px;   */
}

 .article_box {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 112px;
    max-width:1163px;
    height:264px;
}

.article_box li{
    width:209px;
    height:240px;
}

.image_1 {
    width:87px;
    height:100px;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-position: 0px -957px;
    margin: 20px auto;

}


.image_2 {
    width:101px;
    height:100px;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-position: -92px -957px;
    margin: 20px auto;

}

.image_3 {
    width:110px;
    height:95px;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-position: -199px -957px;
    margin: 20px auto;

}

.image_4 {
    width:93px;
    height:100px;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-position: -316px -957px;
    margin: 20px auto;
}



.article_box dt{
    width:233px;
    height:23px;
    font-size:16px;
    font-weight: 600;
    color:#00B843;
    text-align:center;
    margin: 0 0 10px;
}

.article_box dt:hover{
    text-decoration: underline;
    color:#00B843;
    
}

.article_box dd{
    width:233px;
    height:72px;
    font-size:15px;
    font-weight:500;
    color:#878890;
    text-align:center;
}
.footer-wrap {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    width:100%;
    height: 160px;
    /* position:relative; */
}
.footer-menu{
    display:flex;
    align-items:center;
    justify-content: space-between;
    column-gap: 5px;
    padding: 0 30px;
    /* outline: 1px solid gold; */
    
}

.footer_logo{
    width: 63px;
    height: 13px;
}
.footer-menu li {
    color:#878890;
    margin: 0 10px;
}

.footer-rights {
    position:absolute;
    right: 500px;
    /* outline: 2px solid violet; */
}

.affiliates {
    padding-right: 26px;
    /* outline: 2px solid greenyellow; */
}