@charset "utf-8";
.page-header {
    background-color:#f5f5f5;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.inner-box{
    display: flex; 
    align-items:center;
    justify-content:space-between;
    /* outline :red 1px solid;  */
    max-width:1600px;
    width:100% ;
    padding:0 30px;
    margin : 0 auto;
    height: 80px;      
}

.gnb > ul{
    display:flex;
    column-gap: 20px;
}

.gnb .sub-menu {
    display:none;
}

.site_map {
    position:relative;
    width:24px;
    height:23px;
    cursor: pointer;
    background-color:none;
    border:none;   
}

.site_map:hover .a {
    background-color: green;
    top:50%;
    transform: rotate(45deg); 
    transition:400ms;   
}

.site_map:hover .b {
    background-color: green;
    opacity: 0;   
    transition:400ms;   
}

.site_map:hover .c {
    background-color: green;
    top:50%;
    transform: rotate(-45deg);
    transition:400ms;   
}

.a {
    position:absolute;
    width:24px;
    height:2px;
    background-color: black;  
    display:inline-block;
    top:4px;    
}

.b {
    position:absolute;
    width:24px;
    height:2px;
    background-color: black;  
    display:inline-block;
    top: 10px;   
}

.c {
    position: absolute;
    width:24px;
    height:2px;
    background-color: black;  
    display:inline-block;
    bottom: 5px;
}