@charset "utf-8";



.visual_slide li {
    height:70vh;
    min-height:400px;
    background-color:tomato;
    background-image:url('../images/visual_1.jpg');
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    color:#fff;
    display:flex;
    align-items:center;
}

.visual_slide  article { 
    width:100%;
    max-width:1200px;
    margin:0 auto;
    transform:translateY(50px);
}

.visual_slide h2 {
    font-size:30px;
    font-weight: 700;
    letter-spacing:-0.7px;
}

.visual_slide .bar {
    height:1px;
    background-color:rgba(255,255,255,0.2);
    margin:20px 0;
}

.visual_slide .bar .active {
    background-color:#fff;
    height:1px;
    width:20%;
}

.visual_slide p {
    
}

.btn_prev {
    position:absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image:url(../images/left.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    border-style: none;
    left:-60px;
    top: 30px;
    opacity: 0.7;
 
}

.btn_next {
    position:absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image:url(../images/right.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    border-style: none;
    right:-50px;
    top: 30px;
    opacity: 0.7;
}

.btn_next:hover {
    opacity:1;
}

.btn_prev:hover {
    opacity:1;
}


.total {
    max-width : 1520px;
    width:100%;
    /* outline:2px solid red; */
    margin: 0 auto;
    padding: 0 60px;
}

.content {
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* outline: 2px solid blue; */ 
    margin-top:69px;
    position: relative;    
}

.content li:first-child {
    padding-left:0px;


}

.content li:last-child {
    border-right:0;
    padding-right:0px;

}
.content li {

    flex-basis:25%;
    flex-shrink:0;
    height:180px;
    padding: 0 20px;
    
}

.container_news::after{
    content:'';
    width:1px;
    height:200px;
    background-color:rgba(0,0,0,0.1);
    margin: auto 20px;
    display: block;  
    position: absolute;
    top: 5px;
    left: 25%
}
.container_carrer::after{
    content:'';
    width:1px;
    height:200px;
    background-color:rgba(0,0,0,0.1);
    margin: auto 20px;
    display: block;  
    position: absolute;
    top: 5px;
    left: 50%
}
.container_stock::after{
    content:'';
    width:1px;
    height:200px;
    background-color:rgba(0,0,0,0.1);
    margin: auto 20px;
    display: block;  
    position: absolute;
    top: 5px;
    left: 75%
}

.content h2 {
    font-size: 14px;
    font-weight: 800;
    text-align: start;
    color: #212121;
    margin-bottom: 20px;
}

.content a:hover {
    text-decoration: underline;
    
}
.content a {
    font-weight: 800;
}

.container_news p {
    overflow:hidden;
    text-overflow: ellipsis;
    width:100%;
    max-width:310px;
}
.container_news .content_title {
    white-space:nowrap;
}
.container_news .news_middle {
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
}

.content_title{
    text-align: start;
    margin: 31px 0 30px;
    font-size: 15px;
    font-weight: 800;
    color:#333333;
    height:76px;  
}

.news_middle{    
    position: absolute;
    top: 85px;
    color:#878890;    
}

.news_middle > span {
    width :16px;
    height:16px;
    background-color: green;
    display:block;
}

.service_list {
    display:flex;
    flex-wrap:wrap;
    color:#fff;
    margin-top: 80px;
}

.service_list li {
    flex-basis:calc(100%  / 3);
    padding-top:25%;
    background:no-repeat center center/cover;
    position:relative;
    overflow:hidden;
}

.service_list li:nth-child(1) {
    background-image:url('../images/robot.jpg')
}
.service_list li:nth-child(2) {
    background-image:url('../images/cloud.jpg')
}
.service_list li:nth-child(3) {
    background-image:url('../images/note.jpg')
}
.service_list li:nth-child(4) {
    background-image:url('../images/whale.jpg')
}
.service_list li:nth-child(5) {
    background-image:url('../images/works.jpg')
}
.service_list li:nth-child(6) {
    background-image:url('../images/cloud.jpg')
}
.service_list li:nth-child(7) {
    background-image:url('../images/webtoon.jpg')
}
.service_list li:nth-child(8) {
    background-image:url('../images/project.jpg')
}
.service_list li:nth-child(9) {
    background-image:url('../images/live.jpg')
}

.service_list a {
    position:absolute;
    display:block;
    left:0;top:0;right:0;bottom:0;
    background-color:rgba(0,0,0,0);
}

.service_list .contents {
    transition:0.4s;
    position:absolute;
    bottom:-50px;
    left:25px;
}

.service_list a:hover {
    background-color:rgba(0,0,0,0.5);
}

.service_list a:hover .contents {
    bottom:25px;
}
.service_list h3 {
    font-weight: 900;
    font-size: 20px;
}

.service_list p {
    font-size:15px;
}

 .main_content {
    display:flex;
    flex-wrap:wrap;
    max-width:100%;
    height: 777px;
    /* align-items:center; */
    /* margin : 0 auto; */
    color:white;
    text-align: center;
    margin-top: 90px;
    position:relative;  

}

.main_content h3 {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 5px;
    /* display: none; 
    
    */
    margin-top: 180px;
}

.main_content p {
    /* display: none; */
    font-size: 15px;
    font-weight: 600;
}

.dimmed {
    width:calc(100% / 3);
    height: 259px;
    background-color: #3A3E5080;
    background-size: cover;
    position:absolute;
    opacity: 0;        
}

.dimmed:hover {
    transition:500ms;
    opacity: 100; 
    transform: translateY(-50px);
}

.robot .dimmed {
    position: absolute;
    top: 50px;      
}
.cloud .dimmed {
    position: absolute;
    top: 50px;      
}
.pay .dimmed {
    position: absolute;
    top: 50px;      
}

.whale .dimmed {
    position: absolute;
    top: 309px;      
}
.works .dimmed {
    position: absolute;
    top: 309px;      
}
.note .dimmed {
    position: absolute;
    top: 309px;      
}
.webtoon .dimmed {
    position: absolute;
    top: 568px;      
}
.project .dimmed {
    position: absolute;
    top: 568px;      
}
.live .dimmed {
    position: absolute;
    top: 568px;      
}

.robot {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/robot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cloud {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/cloud.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.pay {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/pay.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.whale {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/whale.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.works {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/works.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.note {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/note.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.webtoon {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/webtoon.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.project {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/project.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.live {
    width:calc(100% / 3);
    height:calc(100% / 3);
    background-image: url('../images/live.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.main-support {
    margin-top:112px;  
}
.main-support h2 {
    font-size:30px;
    font-weight: 800;
    text-align: center;
    margin-top:120px;   
    padding: 10px;
}

.main-support p {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.5px;   
    /* margin-bottom:134px;   */
}


/* .artircle_box { 
    display:block; 
    text-align:center;
    width:25%;
    margin:0 auto;
} */


.article_box {
    display:flex;
    justify-content: space-between;
    margin: 80px auto;
    position:relative;
    /* outline:2px solid blue; */
}

.thumbs_1:hover dt {
    text-decoration:underline;
    cursor:pointer;
 }
.thumbs_2:hover dt {
    text-decoration:underline;
    cursor:pointer;
}
.thumbs_3:hover dt {
    text-decoration:underline;
    cursor:pointer;
}
.thumbs_4:hover dt {
    text-decoration:underline;
    cursor:pointer;
}

.thumbs_1:before {
    content:'';
    display:block;
    width:87px;
    /* outline:1px solid red; */
    height:100px;  
    margin:0 auto 20px;
    background-image:url('../images/sprite.png');
    background-repeat:no-repeat;
    background-position: 0px -957px; 
}
.thumbs_2:before {
    content:'';
    display:block;
    width:101px;
    /* outline:1px solid red; */
    height:100px;  
    margin:0 auto 20px;
    background-image:url('../images/sprite.png');
    background-repeat:no-repeat;
    background-position: -92px -957px;
}
.thumbs_3:before {
    content:'';
    display:block;
    width:110px;
    /* outline:1px solid red; */
    height:95px;  
    margin:0 auto 20px;
    background-image:url('../images/sprite.png');
    background-repeat:no-repeat;
    background-position:  -199px -957px;
}
.thumbs_4:before {
    content:'';
    display:block;
    width:93px;
    /* outline:1px solid red; */
    height:100px;  
    margin:0 auto 20px;
    background-image:url('../images/sprite.png');
    background-repeat:no-repeat;
    background-position: -316px -957px;
}

.thumbs_1:after {
    content:'';
    width:1px;
    height:200px;
    background-color:rgba(0,0,0,0.1);
    margin: auto 20px;
    display: block;  
    position: absolute;
    top: 5px;
    left: 23%
}
.thumbs_2:after {
    content:'';
    width:1px;
    height:200px;
    background-color: rgba(0,0,0,0.1);
    margin: auto 20px;
    display: block;  
    position: absolute;
    top: 5px;
    left: 47%;
}
.thumbs_3:after {
    content:'';
    width:1px;
    height:200px;
    background-color: rgba(0,0,0,0.1);
    margin: auto 20px;
    display: block;  
    position: absolute;
    top: 5px;
    left: 75%;
}

.image_1 {
    width:87px;
    height:100px;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-position: 0px -957px;
    margin: 20px auto;
}


.image_2 {
    width:101px;
    height:100px;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-position: -92px -957px;
    margin: 20px auto;

}

.image_3 {
    width:110px;
    height:95px;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-position: -199px -957px;
    margin: 20px auto;

}

.image_4 {
    width:93px;
    height:100px;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-position: -316px -957px;
    margin: 20px auto;
}



.article_box dt{
    width:233px;
    height:23px;
    font-size:16px;
    font-weight: 600;
    color:#00B843;
    text-align:center;
    margin: 0 0 10px;
}

.article_box dt:hover{
    text-decoration: underline;
    color:#00B843;
    
}

.article_box dd{
    width:233px;
    height:72px;
    font-size:15px;
    font-weight:500;
    color:#878890;
    text-align:center;
}
.footer-wrap {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    width:100%;
    height: 160px;
    /* position:relative; */
}
.footer-menu{
    display:flex;
    align-items:center;
    justify-content: space-between;
    column-gap: 5px;
    padding: 0 30px;
    /* outline: 1px solid gold; */
    
}

.footer_logo{
    width: 63px;
    height: 13px;
}
.footer-menu li {
    color:#878890;
    margin: 0 10px;
}

.footer-rights {
    position:absolute;
    right: 500px;
    /* outline: 2px solid violet; */
}

.affiliates {
    padding-right: 26px;
    /* outline: 2px solid greenyellow; */
}
.plus{
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: gray;
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: none;

}